#!/bin/sh

#1.) Copy this in the folder where you will do the analysis
#2.) Update the variables below according to your file names

#Add the variables here
#This folder must exist
#mkdir /scratch/users/sprehei1@jhu.edu/tmp
#add that folder to the TMPDIR variable
#has to be the full path (maybe with pwd -P to see true path). Don't use relative path
export TMPDIR='/scratch/users/yzhan231@jhu.edu/tmp'

#below is copied from emp-... config files
ROOT=/home-4/yzhan231@jhu.edu/work/yuezhang/RockCreek/yue_rockcreek_16s_seq1n2_analysis
#Single run prefix


#This is the folder with three zipped files (names matter)
#barcodes.fastq.gz
#forward.fastq.gz
#reverse.fastq.gz
DATA=$ROOT/data
#Name of metadata file
#Keimee checked, and qiime2 validated with google sheets
#see QIIME2.org for details
METADATA=$ROOT/analysis/metadata_rockcreek_16s_combined.txt
#Define the table and reps, either single run DADA2 output, or merged table
TABLE=$ROOT/analysis/combined_dada2_sample_only.qza
REPS=$ROOT/analysis/combined_reps.qza

#Look at the sequencing depth of the samples
#Choose the most appropriate depth
#Either the lowest count sample or 5000 (minimum) which ever is higher
#Find the coverage with the 
#qiime feature-table summarize
DEPTH=94840
#Define prefix for core diversity metrics
CORE=core-metrics


#Output file name for everything but diversity core metrics
PREFIX=$ROOT/analysis/depth-94840-sample_only

#Get the current classifier
#If it exists in this folder, comment out the next line
#Otherwise, this will download and then set the variable to the name
#wget http://data.qiime2.org/2018.8/common/gg-13-8-99-515-806-nb-classifier.qza
CLASSI=/home-4/yzhan231@jhu.edu/work/yuezhang/RockCreek/169390_PreheimLab_16S_SOPs/scripts/gg-13-8-99-515-806-nb-classifier.qza

echo "Variables imported"


